*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#FEFAE0;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    color: #DDA15E;
    font-size: 3rem;
}

div a{
    text-decoration: none;
    color: #BC6C25;
    margin: 0.5rem;
    text-decoration: underline;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.img img{
    width: 90%;
    border-radius: 15px;
    border: 3px solid #8ea73c;
}

ol {
    text-align: center;
    list-style: none;
    
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.description p{
    width: 80%;
    margin-bottom: 4rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}